* {
  margin: 0;
  padding: 0;
}
h1 {
  color: white;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.7rem;
  letter-spacing: 9px;
  text-transform: uppercase;
  color: white;
}
body {
  background-image: url(bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Times New Roman", Times, serif;
}

.contener {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  position: relative;
}

.items {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 146, 45, 1) 70%
  );
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  height: 13rem;
  width: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 11px;
  color: white;
  font-size: 4rem;
}

.text {
  font-size: 1.4rem;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

.am-pm {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 146, 45, 1) 70%
  );
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  height: 3.4rem;
  width: 3.5rem;
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 1.8rem;
  color: white;
  border-radius: 11px;
  position: absolute;
  bottom: 0;
  right: -5rem;
}
